<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wildfirechat.app.dao.CollectionDao">

    <resultMap id="BaseResultMap" type="cn.wildfirechat.app.pojo.Collection">
        <id column="id" property="id"/>
        <result column="_uid" property="uid"/>
        <result column="_mid" property="mid"/>
        <result column="_searchable_key" property="searchableKey"/>
        <result column="_dt" property="sendTime"/>
        <result column="_create_time" property="createTime"/>
    </resultMap>

    <select id="getCollectionListWithUid" resultType="cn.wildfirechat.app.pojo.Collection">
        SELECT c._mid as 'mid', c.id AS id, m._searchable_key AS 'searchableKey', m._dt AS 'sendTime', c._create_time as 'createTime'
        FROM t_messages_6 m
        INNER JOIN t_collection c ON m._mid=c._mid
        where 1=1
        AND c._uid=#{uid}
        AND c._is_delete='0'
        order by id desc
        limit #{size} OFFSET #{begin}
    </select>

    <insert id="addCollection" parameterType="cn.wildfirechat.app.pojo.Collection">
    INSERT  INTO t_collection (_uid,_mid,_create_time,_is_delete)
    VALUES
    (#{uid},#{mid},now(),'0')
    </insert>

    <update id="deleteCollection" parameterType="cn.wildfirechat.app.pojo.Collection">
        UPDATE t_collection SET t_collection._is_delete ='1' WHERE _uid=#{uid} AND _mid = #{mid}
    </update>


</mapper>